{{ template "header.html" }}

<div class="container-fluid">
    <div class=" " id="">
               <p class="lead" id="formRow">Users Access Activities</p>
            <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-responsive indexTable table-striped text-center table-bordered">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Access Status</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $i, $user := .users}}
                            <tr>

                                <td>{{ ($i) }}</td>
                                <td>{{$user.Name}}</td>
                                <td>{{$user.Email}}</td>
                                <td>{{$user.Status}}</td>
                            
                                <td>{{ $user.DoorStatus }} 
                                </td>
                                <td>{{$user.CreatedAt}}</td>
                            </tr>
                        {{ end }}
                            
                        </tbody>
                    </table>
                </div>
            </div>
            </div>

        </div>
    </div>
{{ template "footer.html" }}